<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script type="text/javascript">
  window.staticImages = {
    name: '<%= asset_url("logo.jpg") %>',
  }
</script>

<main id="root"></main>
