<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, </h1>
    <p>
      You have successfully signed up to example.com,
      your username is: .<br />
    </p>
    <% @items.each do |item| %>
      <%= item['name'] %>
      <%= item['price'] %>
      <%= item['quantity'] %>
      <% item['options'].values.each do |option| %>
        <%= option['name'] %>
      <% end %>
    <% end %>
    <p>
      To login to the site, just follow this link:.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
