.checkout-container {
  display: flex;
  position: relative;
  top: 60px;
  height: 100%;
  width: 75%;
  background: #efefef;
}

.checkout-main {
  padding: 32px;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.checkout-form h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 4px;
}

.checkout-form h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px;
}

.checkout-form h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.checkout-form input {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  background: white;
  margin-bottom: 20px;
}

.contact-input {
  display: block;
  width: 50%;
}

.checkout-form input:focus, .deliveryInstructions:focus {
  border: 2px solid rgba(81, 150, 238, 1);
  box-shadow: 0 0 10px rgba(81, 150, 238, 1);
}

.checkout-form input:-moz-read-only {
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.checkout-form input:-moz-read-only:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.checkout-form input:read-only {
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.checkout-form input:read-only:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}

.address-input-container {
  display: flex;
  justify-content: space-between;
}

.address-input {
  margin: 8px 0;
  max-width: 33.333%;
  flex-basis: 33.333%;
}

.address-input:nth-last-of-type(3n + 2) {
  margin-right: 18px;
  margin-left: 18px;
}

.deliveryInstructions {
  width: 100%;
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  background: white;
  margin: 10px 0 20px;
}

.continue-to-payment {
  width: 100%;
  min-height: 56px;
  background: #2b8282;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
}

.continue-to-payment:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}
