.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #2b8282;
  border: 1px solid gray;
}

.logo img {
  display: block;
  width: 105px;
}

.session-button {
  padding: 8px 16px;
  border: 2px solid #2b8282;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}
