.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  color: #2b8282;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
  display: block;
  width: 105px;
  margin-right: 20px;
}

.header .address-search-form {
  position: static;
  display: flex;
  align-items: center;
  height: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header .address-search-field {
  margin: 0;
  padding: 12px 30px;
}

.header .address-search-field:focus{
  border: none;
  box-shadow: none;
}

.header .address-search-form input[type="submit"] {
  display: none;
}

.header .address-search-form .x-close {
  left: 610px;
  top: 18px;
}

.session-button {
  padding: 8px 16px;
  border: 2px solid #2b8282;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
}

.logged-in-section {
  display: flex;
  align-items: center;
}

.welcome-message {
  color: black;
}
