.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: image-url('main.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 250px;
}
