.item-option-section {
  position: relative;
  border-radius: 4px;
  padding-top: 20px;
  margin-top: 10px;
}

.item-option-section-required {
  background-color: #e4e4e4;
  padding: 20px 20px 0;
}

.item-option-section img {
  position: absolute;
  left: -19px;
  width: 25px;
  height: 25px;
}

.item-option-section h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item-option-section h6 {
  font-size: 15px;
}

.item-option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.item-option {
  min-width: 33%;
  flex-basis: 33%;
  margin-bottom: 20px;
}

.item-option input {
  margin-right: 8px;
}

.item-option label {
  position: relative;
  top: 2px;
}
