.order-placed-modal {
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: black;
  background-color: white;
  overflow: auto;
  z-index: 3;
}

.heading {
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 20px 0;
}

.modal-review-subheader {
  display: flex;
  justify-content: space-between;
}

.modal-order-info {
  margin-top: 10px;
  width: 90%;
}

.order-placed-modal span {
  font-weight: 700;
}

#modal-restaurant-name {
  color: #2b8282;
}

.modal-order-info h5 {
  margin-bottom: 10px;
}

.modal-order-list {
  border-top: 1px dashed black;
  padding: 20px;
}

.modal-order-item {
  display: flex;
  flex-direction: column;
  margin: 2px 0;
}

.modal-order-container {
  display: flex;
  margin-bottom: 5px;
}

.modal-order-item span {
  font-weight: 400;
}

.modal-options-list {
  margin-left: 5%;
}

.modal-order-item-instructions {
  margin: 5px 0 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

#modal-quantity {
  flex-basis: 5%;
  font-weight: 700;
}

#modal-item-name {
  flex-basis: 85%;
  font-weight: 700;
}

#modal-price {
  flex-basis: 10%;
  font-weight: 700;
  text-align: right;

}

.totals {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 10px;
  list-style: none;
}

.review-link {
  color: #2b8282;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
  cursor: pointer;
}

.totals-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 10px 0;
}

.totals li {
  margin: 2px 0;
  width: 100%;
  text-align: right;
}

.totals li:last-of-type {
  margin-top: 20px;
  font-weight: 700;
}

.totals-amounts {
  margin-left: 40px;
}

.totals-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
}

.modal-footer-container {
  margin-bottom: 20px;
}

.modal-footer-container h6 {
  font-size: 12px;
  margin-bottom: 5px;
}

.modal-email-send-container {
  display: flex;
  margin-top: 5px;
}

.email-sent {
  position: absolute;
  color: #2b8282;
  font-size: 12px;
  margin-top: 5px;
}

.modal-footer-container input[type="email"] {
  width: 185px;
  text-align: left;
  border-radius: 4px;
  padding: 12px 10px;
  color: black;
  font-size: 14px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.modal-footer-container input[type="email"]:focus {
  border: 2px solid rgba(81, 150, 238, 1);
  box-shadow: 0 0 10px rgba(81, 150, 238, 1);
}

.modal-footer-container input[type='submit'] {
  width: 50px;
  margin-left: 5px;
  border-radius: 4px;
  text-align: center;
  color: white;
  background-color: #2b8282;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}

.modal-footer-container input[type='submit']:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}

.order-placed-modal .x-close {
  position: absolute;
  line-height: 5px;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-weight: 400;
}
