.order-placed-modal {
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: black;
  background-color: white;
  overflow: auto;
  z-index: 3;
}

.heading {
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 20px 0;
}

.modal-order-info {
  min-width: 60%;
  margin: 30px 0 0;
}

.order-placed-modal span {
  font-weight: 700;
}

#modal-restaurant-name {
  color: #2b8282;
}

.modal-order-info h5 {
  margin-bottom: 20px;
}

.modal-order-info ul {
  border-top: 1px dashed black;
  padding: 20px;
  margin-bottom: 20px;
}

.modal-order-info ul li {
  display: flex;
  margin: 2px 0;
  font-weight: 700;
}

#modal-quantity {
  flex-basis: 5%
}

#modal-item-name {
  flex-basis: 85%;
}

#modal-price {
  flex-basis: 10%;
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
  padding-bottom: 20px;
  list-style: none;
}

.totals li {
  margin: 2px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.totals li:last-of-type {
  font-weight: 700;
}

.review-link {
  color: #2b8282;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal-footer-container h5 {
  margin-bottom: 5px;
}

.order-placed-modal a {
  text-decoration: underline;
  color: #2b8282;
}

.modal-footer-container {
  text-align: center;
}

.order-placed-modal .x-close {
  position: absolute;
  line-height: 5px;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-weight: 400;
}
