.order-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  height: 100%;
  padding: 60px 0 80px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.inner-order-container {
  height: 100%;
}

.order-header {
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;;
  font-size: 14px;
  font-weight: 700;
}

.order-restaurant-name span {
  color: #2b8282;
  cursor: pointer;
}

.order-empty-background {
  background: url('https://assets.seamless.com/img-hashed/empty-bag-9a47c6d5df5c3f99a5886ff502bfcde7.svg') 50% no-repeat;
  color: #cacaca;
  height: 100px;
  background-size: contain;
  margin-top: 30px
}

.order-empty-text {
  padding: 25px;
  text-align: center;
}

.order-empty-text h1 {
  font-size: 22px;
  font-weight: 700;
  color: #cacaca;
}

.main-order-container {
  height: calc(100% - 46px);
  overflow: auto;
}

.order-total-container {
  padding: 26px 16px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin-bottom: 20px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.empty-bag {
  color: #2b8282;
  font-weight: 700;
  margin-top: 26px;
  cursor: pointer;
}

.proceed-to-checkout-button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  background: white;
  z-index: 1;
}

.proceed-to-checkout-button {
  width: 100%;
  padding: 14px 18px;
  background: #13aa37;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.proceed-to-checkout-button:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}

.only-on-checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modify-order {
  width: 100%;
  padding: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  background: #2b8282;
  cursor: pointer;
}

.total-only-on-checkout {
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  background: #323232;
}
