.restaurant-show-container {
  display: flex;
  position: relative;
  top: 60px;
  height: 100%;
}

.restaurant-show-main {
  position: relative;
  width: 75%;
}

.top-info-container {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://res.cloudinary.com/grubhub/image/upload/dpr_auto,f_auto,q_auto,g_auto,w_1200,h_300,c_fill,e_improve/qv8mddnemu5ncw31ljcf');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  padding-top: 84px;
}

.top-info-container img {
  width: 100px;
  height: 100px;
  margin-right: 16px;
}

.top-restaurant-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.top-restaurant-info h1 {
  font-size: 30px;
  font-weight: 700;
}

.address-phone-container {
  display: flex;
  font-size: 12px;
  margin: 6px 0;
}

.address-phone-container h6 {
  margin-right: 12px;
  font-weight: 300;
}

.top-restaurant-info .stars-container {
  display: flex;
  flex-direction: row;
  font-size: 28px;
}

.top-restaurant-info .star-icon:nth-of-type(2n) {
  margin: 0 5px;
}

.menu-container {
  background: #efefef;
}

.menu-title {
  font-size: 28px;
  font-weight: 700;
  padding: 4% 12% 2%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8%;
}

.bottom-info-container {
  display: flex;
  padding: 35px 8% 15px;
  background: #efefef;
}

.left-location-info {
  margin-right: 40px;
  flex-basis: 50%
}

.left-location-info h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: 100px;
}

.restaurant-info-list {
  color: #2b8282;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
}

.restaurant-info-list li {
  margin: 2px 0;
}

.restaurant-info-list li:nth-of-type(3) {
  margin-bottom: 15px;
}

.restaurant-info-list li:last-of-type {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right-hours-info {
  flex-basis: 50%;
}

.right-hours-info h3 {
  margin-top: 60px;
  font-size: 17px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.60);
}

.hours-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  padding-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.60);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hours {
  text-align: right;
  margin-left: 150px;
}

.hours li {
  margin-bottom: 4px;
}

.hours li:last-of-type {
  color: rgba(0, 0, 0, 0.40);
}

.reviews-container {
  background: #efefef;
}

.reviews-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 8% 40px;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.reviews-heading h1 {
  font-size: 24px;
  font-weight: 700;
}

.review-button {
  width: 25%;
  height: 44px;
  color: #fff;
  background: #2b8282;
  border-radius: 4px;
  padding: 12px 16px;
  text-align: center;
  font-size: 14px;
}

.review-button:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}
