.address-search-form {
  position: relative;
}

#address-search-field {
  margin: 10px 0;
  width: 500px;
  background-color: white;
  border-radius: 4px;
  padding: 12px 16px;
  color: black;
  font-size: 14px;
  min-height: 44px;
}

#address-search-field:focus{
  box-shadow: 0 0 10px rgba(81, 150, 238, 1);
}

.address-search-form input[type="submit"] {
  height: 44px;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  background: #2b8282;
  border-radius: 4px;
  margin-left: 10px;
}

.address-search-form .x-close {
  position: absolute;
  left: 470px;
  top: 21px;
  font-size: 18px;
  color: #2b8282;
}
