.review-modal {
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  width: 700px;
  padding: 16px 24px;
  border-radius: 3px;
  background-color: white;
  overflow: auto;
  z-index: 3;
}

.review-modal h1 {
  margin-bottom: 12px;
}

.star-rating-container {
  width: max-content;
  margin: 24px auto 16px;
  display: flex;
  justify-content: center;
  font-size: 48px;
  text-align: center;
}

.star-rating-red:before {
  content: "\2605";
  color: red;
  margin-right: 3px;
}

.star-rating-gray:before {
  content: "\2605";
  color: rgba(0, 0, 0, 0.2);
  margin-right: 3px;
}

.rating-text-container {
  width: max-content;
  margin: 0 auto;
}

.rating-text {
  color: rgba(0, 0, 0, 0.7);
}

.write-review-container {
  width: 100%;
  margin: 20px auto 0;
}

.write-review-heading-container {
  display: flex;
  justify-content: space-between;
}

.write-review-heading-container h5 {
  font-size: 14px;
  color: #2b8282;
  cursor: pointer;
}

.write-review-container h3 {
  font-size: 20px;
  font-weight: 700;
}

.write-review-field {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 20px 0 5px;
}

.write-review-field:focus {
  border: 2px solid rgba(81, 150, 238, 1);
  box-shadow: 0 0 10px rgba(81, 150, 238, 1);
}

.chars-remaining-gray {
  position: absolute;
  right: 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.chars-remaining-red {
  position: absolute;
  right: 24px;
  font-size: 14px;
  color: red;
}

.review-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 56px;
  background: #2b8282;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  margin-top: 30px;
}

.review-submit-button:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}

.review-submit-button-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 56px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  margin-top: 30px;
  cursor: default;
}
