.session-modal {
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
  overflow: auto;
  z-index: 3;
}

.session-modal .logo {
  margin: -20px 0;
}

.heading {
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  display: flex;
  min-height: 44px;
  margin: 10px 0;
}

.session-form input[type="text"],
.session-form input[type="email"],
.session-form input[type="password"],
.session-form input[type='submit'] {
  margin: 10px 0;
  width: 360px;
  border-radius: 4px;
}

.session-form input[type="text"] {
  margin: 0 5px;
  width: 175px;
  border-radius: 4px;
}

.session-form input[type="text"],
.session-form input[type="email"],
.session-form input[type="password"] {
  padding: 12px 16px;
  color: black;
  font-size: 14px;
  min-height: 44px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.session-form input[type="text"]:focus,
.session-form input[type=email]:focus,
.session-form input[type=password]:focus {
  border: 2px solid rgba(81, 150, 238, 1);
  box-shadow: 0 0 10px rgba(81, 150, 238, 1);
}

.session-form input[type='submit'] {
  text-align:center;
  color: white;
  background-color: #c90017;
  min-height: 44px;
  font-size: 14px;
  font-weight: 400;
}

.session-form input[type='submit']:last-of-type {
  background-color: #2b8282;
  margin-bottom: 20px;
}

.session-form input[type='submit']:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}

.session-form h6 a {
  color: #2b8282;
  cursor: pointer;
}

.session-form h6 {
  display: block;
  color: black;
  font-size: 14px;
  margin-bottom: 20px;
}

.session-modal .x-close {
  position: absolute;
  line-height: 5px;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-weight: 400;
}
