<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <img src='https://i.imgur.com/Ug2HyKg.jpg' style='display: block; margin: 0 auto; width: 100px;'/>
    <%= yield %>
  </body>
</html>
